@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* 
 ! 1) font-family: 'Rajdhani', sans-serif; 
 */

* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  transition: ease all 0.2s;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar{
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  display: unset;
  font-size: larger;
}

/* Style the top navigation bar */
.topnav {
  width: 100vw;
  padding: 10px 5% 10px 0;
  overflow: hidden;
  background-color: #2f6ee4;
  font-size: large;
}


.topnav figure {
  margin: 0;
  float: left;
  padding: 3px 0 0 10px;
}

.topnav img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

  /* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  margin: 0 5px; 
  border-radius: 5px;
  text-decoration: none;
}
  
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  display: block;
  padding: 10vh 0 10vh 0;
  height: 90vh;
}
  
.content section {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100%;
}

.texto, .imagenes{
  width: 40vw;
  border-radius: 5px;
  height: inherit;
}

.texto {
  margin-right: 5vw;
}

.titulo, .descripcion, .botones {
  border: 0px solid #000;
}

.titulo {
  height: 30%;
  display: flex;
  align-items: center;
}

.descripcion {
  height: 50%;
}

.botones {
  height: 20%;
}

.titulo p {
  font-size: 4rem;
  font-family: Rajdhani;
  letter-spacing: 0;
  padding: 0 0 10px 0;
  font-weight: 500;
  line-height: normal;
  color: #111111;
  margin: 0;
}

.descripcion p {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  padding: 0 0 10px 0;
  line-height: normal;
  color:rgb(148, 148, 148);
  margin: 0;
}

.imagenes {
  height: fit-content;
}

/* Style the footer */
.footer {
  padding: 0 10px 10px 0;
  position: fixed;
  bottom: 0;
  right: 0;
}

.footer-text{
  font-size: small;
  font-weight: 400;
}

#gif-registro {
  width: 120px;
  height: 120px;
  display: none;
}
#gif-login {
  width: 120px;
  height: 120px;
  display: none;
}
#gif-inicio {
  width: 120px;
  height: 120px;
  display: none;
}
