* {
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    transition: ease all 0.2s;
    padding: 0;
    margin: 0;
  }
  
  ::-webkit-scrollbar{
      display: none;
  }
  
  body {
    font-size: larger;
  }
  main {
      display: flex;
      padding-top: 100px;
      justify-content:center;
  }
  .topnav {
    width: 100vw;
    padding: 10px 5% 10px 0;
    overflow: hidden;
    background-color: #2f6ee4;
  }
  
  .topnav figure {
    margin: 0;
    float: left;
    padding: 3px 0 0 10px;
  }
  
  .topnav img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    margin: 0 5px; 
    border-radius: 5px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content {
    display: flex;
    justify-content: center;
    
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
  }
  
  .footer {
    background-color: #aed6fc;
    padding: 10px;
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
  